<div class="ct-mission-container">
    <img [src]="mission.imageUrl">
    <div class="ct-row blueLbl">{{mission.name}}</div>
    <div class="ct-row">
        <div class="ct-col lbl">Mission Ids</div>
        <div class="ct-col">{{mission.id}}</div>
    </div>
    <div class="ct-row">
        <div class="ct-col lbl">Launch Year</div>
        <div class="ct-col">{{mission.launchYear}}</div>
    </div>
    <div class="ct-row">
        <div class="ct-col lbl">Successful Launch</div>
        <div class="ct-col">{{mission.launchSuccess}}</div>
    </div>
    <div class="ct-row">
        <div class="ct-col lbl">Successful Land</div>
        <div class="ct-col">{{mission.landSuccess}}</div>
    </div>
</div>
